*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0;
}
body{
    background: radial-gradient(rgb(17, 50, 100), rgb(53, 87, 138));
    
}
h1{
    color:rgb(196, 187, 63);
    font-size: 48px
}
#app-container{
    padding: 20px;
}
