
<div id='home-container'>
    <div id='button-container'>
        <button (click)="displayClass()" class='student-button' id='get-students-button'>Display Class</button>

        <button class='student-button' id='get-student-by-firstname-button'>Search Student</button>
        <input class='student-input' id='get-student-by-firstname-input'/>

        <button (click)="addStudent()" class='student-button' id='add-student-button'>Add Student</button>
        <input type='text' class='student-input'/>
        
        <button class='student-button' id='update-student-button'>Update Student</button>
        <input class='student-input' id='update-student-id-input'/>
        <input class='student-input' id='update-student-change-input'/>

        <button class='student-button' id='delete-student-button'>Delete Student</button>
        <input class='student-input' id='delete-student-input'/>
    </div>
    <div id='display-container'>
        <div id='output-container'>
            
        </div>
    </div>
</div>
